/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: black;
    text-align: center;
    background-color: aqua;
    padding-top: 12rem;
    margin-left: 300px;
    margin-right: 300px;
}

h1 {
    font-family: ;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

input {
    width: 75px;
    margin-right: 0;
    padding: 10px;
    border: none;
    font-size: 14px;
}

.addBtn {
    width:20%;
} */